/* All Devices */

#header {
  width: 100%;
  background-color: #fe1237;
  position: absolute;
  left: 0px;
  top: 0px;
  max-height: 84px;
}

  #header .left {
    float: left;  /* 192 pixels minimum */
    width: 25%;
  }

  #header .middle {
    float: left;  /* 384 pixels minimum */
    width: 50%;
    max-height: 84px;   
  }

    .playlistName {
      text-align: center;
      color: white;
      font-family: Haettenschweiler, Impact, fantasy;
      height: 50%;
      /*font-style: italic;*/
    }

      .playlistName h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        /*margin-top: 5px;*/
      }

    .deskMenu {
      text-align: center;
      margin-top: 0px;
      height: 50%;
    }

  #header .right {
    float: left;  /* 192 pixels minimum */
    width: 25%; 
  }


  #header .logo img{
    /* large logo: 190 x 74 */
    /* small logo:  50 x 50 */
    vertical-align: middle;
    display: block;
    margin: 5px auto 5px auto;
  }


/* Tablet and Desktop Only */
@media (min-width: 768px) {

    #header .form-search {
      position: absolute;
      bottom: 0;
      margin-bottom: 0.75em;
    }

    #header .form-search .search-query {
      width: 61% !important;
    }

}



/* Landscape Phone And Portrait Phone */
@media (max-width: 767px) {

  #header .left {
    width: 33% !important;
  }

  #header .middle {
    width: 34% !important;  
  }

  #header .right {
    width: 33% !important;  
  }

  #header .logo img{
    margin: 3px auto 3px auto !important;
  }


  .visible-phone.phoneMenu {
    padding-top: 0.75em;
    padding-left: 0.75em;
  }

}


/* Landscape Phone only */
@media (min-width: 481px) and (max-width: 767px) {

  /* all columns: 160 pixels minimum */

  .lsPhone {
    display: block;
  }

    .lsPhone.btn {
      display: inline-block !important;
    }

  #header .form-search {
    position: absolute;
    padding-top: 0.75em;
    padding-right: 0.75em;
  }

  #header .form-search .search-query {
    width: 56% !important;
  }

  .porPhone {
    display: none !important;
  }
}


/* Portrait Phone only */
@media (max-width: 480px) {

  /* all columns: 160 pixels MAXimum */

  .lsPhone {
    display: none !important;
  }

  .porPhone {
    display: block;
  }

    .porPhone.porPhoneSearch {
      position: absolute;
      top: 0.75em;
      right: 0.75em;
    }

}



/*#header {
  width: 100%;
  background-color: #fe1237;
  position: fixed;
  left: 0px;
  right: 0px;
}

#logoLarge {
  margin: 10px auto 10px auto;
  max-width: 200px;
}

#logoSmall {
  margin: 5px auto 5px auto;
  max-width: 50px;
}


.playlistName {
  text-align: center;
  color: white;
  font-family: Haettenschweiler, Impact, fantasy;
  font-style: italic;
}

.btn-toolbar {
  text-align: center;
}

.btn-success {
  font-weight: bold;
}


.right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}


.small {
  display: none;
}

@media (max-width: 767px) {

  .third {
    float: left !important;
    width: 33% !important;
  }
}

@media (max-width: 480px) {

  .medium {
    display: none !important;
  }

  .small {
    display: block;
  }

  .right .btn {
    position: relative;
    left: 33%;
  }
}*/






/*
*{
  margin: 0;
}



.header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  color: LawnGreen;
  background-color: Black;
  margin: 0 auto 0 auto;
  height: 85px;
  text-align: center;
  border-bottom: 6px double green;
}

.wrapper {
  margin: 0px auto 0px;
  padding-top: 106px;
  padding-bottom: 110px;
}


.playerItem {
  padding: 5px;
  margin: 20px;
  z-index: 1;
  border: 2px dotted blue;
}

.playerItem>* {
  display: block;
  margin: 5px auto;
}

.current {
  border: 3px solid blue;
}

fieldset {
  display: inline;
}


#controlFooter {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 10;
  color: LawnGreen;
  background-color: Black;
  border-top: 6px double green;
  padding: 10px;
}

#controlBox {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.urlControl {
  margin-top: 15px;
}

#urlText {
  width: 300px;
}*/

