#header {
  width: 100%;
  background-color: #fe1237;
  position: fixed;
  left: 0px;
  right: 0px;
}

#logoLarge {
  margin: 10px auto 10px auto;
  max-width: 200px;
}

#logoSmall {
  margin: 5px auto 5px auto;
  max-width: 50px;
}


.playlistName {
  text-align: center;
  color: white;
  font-family: Haettenschweiler, Impact, fantasy;
  font-style: italic;
}

.btn-toolbar {
  text-align: center;
}

.btn-success {
  font-weight: bold;
}


.right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}


.small {
  display: none;
}

@media (max-width: 767px) {

  .third {
    float: left !important;
    width: 33% !important;
  }
}

@media (max-width: 480px) {

  .medium {
    display: none !important;
  }

  .small {
    display: block;
  }

  .right .btn {
    position: relative;
    left: 33%;
  }
}


/*
*{
  margin: 0;
}



.header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  color: LawnGreen;
  background-color: Black;
  margin: 0 auto 0 auto;
  height: 85px;
  text-align: center;
  border-bottom: 6px double green;
}

.wrapper {
  margin: 0px auto 0px;
  padding-top: 106px;
  padding-bottom: 110px;
}


.playerItem {
  padding: 5px;
  margin: 20px;
  z-index: 1;
  border: 2px dotted blue;
}

.playerItem>* {
  display: block;
  margin: 5px auto;
}

.current {
  border: 3px solid blue;
}

fieldset {
  display: inline;
}


#controlFooter {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 10;
  color: LawnGreen;
  background-color: Black;
  border-top: 6px double green;
  padding: 10px;
}

#controlBox {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.urlControl {
  margin-top: 15px;
}

#urlText {
  width: 300px;
}*/

