/* All Devices */

body {
  margin: 0;
  padding: 0;
}


.span-custom {
  float: left;
  max-width: 280px;
  min-height: 30px;
  text-align: center;
  margin: 10px 0px 0px 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


#header {
  width: 100%;
  background-color: red;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  max-height: 84px;
  z-index: 1030;
}

  #header > * {
    float: left;
    max-height: 84px;
  }

  #header .logo img{
    /* large logo: 190 x 74 */
    /* small logo:  50 x 50 */
    vertical-align: middle;
    display: block;
    margin: 5px auto 5px auto;
  }


.tab-pane {
  margin: 0px auto 0px auto;
  padding-top: 84px;
}

.tab-pane:after {    /* Clear space for the footer */
  content: "";
  line-height: 110px;
  display: block;
  clear: both;
  height: 110px;
}


/* initial Page */

#initialPage {
  background-color: Gainsboro;
  text-align: center; 
  margin-top: 5px; 
  border: 3px solid blue; 
  box-shadow: 0 1px 3px rgba(0, 0 0, 0.055);
}

  #initialPage h1 {
    padding-bottom: 10px;
  }


/* instructions */

.instructions {
  margin-top: 10px; 
  padding-top: 10px; 
  background-color:white; 
  border: 1px solid blue;
  box-shadow: 0 1px 3px rgba(0, 0 0, 0.055);
}

  .instructions h2{
    text-align: center; 
    color:DarkBlue;
  }

  .instructions h4{
    color:green; 
    margin-bottom:5px; 
    margin-top: 20px;
  }

  .instructions img{
    vertical-align: baseline;
  }

  .instructions p{
    line-height:1.2em;
  }


/* createPlaylist modal */

  #createPlaylist h3 {
    color: blue;
  }

  #createPlaylist .modal-body {
    text-align: center;
  }

  #createPlaylist input {
    margin-bottom: 2px;
  }


/* inviteWindow modal */

  #inviteWindow h3{
    color: blue;
  }

  #inviteWindow .modal-body {
    text-align: center;
  }

  #inviteWindow input {
    width:auto; 
    color:blue; 
    font-weight:bold;
  }

  #addthisBox {
    max-width:220px; 
    margin-left:auto; 
    margin-right:auto
  }


/* tracks */

  /* modded BootStrap tab behavior, because "display:none" is forbidden by Soundcloud API */
  #tracks.active {
    visibility: visible !important;
    position: static !important;
  }

  #tracks.tab-pane {
    display: block !important;
    visibility: hidden;
    position: fixed;
  }

  .player {
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px 1px 5px 1px;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    min-height: 332px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  }

  .player:hover, .player.current {
    border-color: #0088CC;
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  }

  .player.current {
    background-color: #e6f7ff;
  }

  .player img {
    background-color: OrangeRed;
    max-width: 90%; 
  }

  .player .player-bottom {
    text-align: left;
    width: 228px;
    margin-left: auto;
    margin-right: auto;
  }

  .player .userID {
    color: green;
    font-weight: bold;
  }

  .remItem {
    color: red;
    font-size: 75%;
    padding: 0px;
  }


/* search */

  #search > h3 {
    text-align: center;
    color: DarkRed;
  }

  #searchTop {
    text-align: center; 
    margin: 10px 0 20px 0;
  }

  .APIlogo {
    text-align: center;
    clear: both;
    margin: 10px 0 10px 0;
  }

  .searchEngine {
    border-bottom: 1px dotted green;
  }

  .searchEngine > .btn-toolbar {
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .searchEngine > .btn-toolbar .btn {
    margin-top: 5px;
  }

  .singleResult {
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px 1px 5px 1px;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  }

  .singleResult:hover, .singleResult.selected {
    border-color: orange;
    box-shadow: 0 1px 4px rgba(230, 228, 13, 0.25);
  }

  .singleResult.selected {
    background-color: #fffeb1;
  }

  .singleResult img {
    background-color: OrangeRed;
    max-width: 90%;
  }


/*#footer {
  width: 100%;
  margin-bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1030;
  background-color: White;
}*/

#controlbox, #controlbox-minimized {
  position: fixed;
  bottom: 0;
  z-index: 1030;
  left: 50%;
  margin-left: -240px;
  max-width: 480px;
  border-color: red;
  border-radius: 4px 4px 0px 0px;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  padding: 8px 15px 0px 15px;
  background-color: #F0F0F0;
}

  .hidden {
    display: none !important;
  }

  #controlbox .btn:focus {
    outline: none;
  }

  #timeIndicator, #trackIndicator {
    color: DarkRed;
    font-weight: bold;
    margin-bottom: -12px;
  }

  #timeIndicator {
    float: left;
  }

  #timeslider, #timeslider > .ui-slider-handle {
    border-color: red;
    background-image: none;
    background-color: white;
  }

  #bottom-controls {
    text-align: center;
  }

  #prev, #next {
    height: 35px;
    width: 55px;
    padding: 0px;
    border-width: 4px;
    line-height: 16px;  
  }

  #prev {
    border-radius: 25px 0px 0px 25px;
  }

  #play {
    height: 60px;
    width: 60px;
    padding:0px;
    border-radius: 30px;
    border-width: 5px;
    line-height: 21px;
    vertical-align: center;
  }

  #next {
    border-radius: 0px 25px 25px 0px;
  }

  #volumeslider {
    display: inline-block;
    width: 66px;
  }

  #volumeslider, #volumeslider > .ui-slider-handle {
    border-color: red;
    background-image: none;
    background-color: Maroon;
    border-color: red;
  }



/******************************************************************************/
/* Large Desktop Only */
@media (min-width: 1241px) {
  
  .span-custom {
    width: 20%
  }

  .span-custom:nth-of-type(5n+1){
    clear: left;
  }

  .tab-pane {
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


/* Desktop Only */
@media (min-width: 981px) and (max-width: 1240px) {

  .span-custom {
    width: 25%;
  }

  .span-custom:nth-of-type(4n+1){
    clear: left;
  }

  .tab-pane {
    max-width: 1120px;
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* Tablet Only */
@media (min-width: 768px)  and (max-width: 980px) {

  .span-custom {
    width: 33.3333%;
  }

  .span-custom:nth-of-type(3n+1){
    clear: left;
  }

  .tab-pane {
    max-width: 840px;
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* Tablet and Desktop Only */
@media (min-width: 768px) {

  /* header */

    #header .left, #header .right {
      width: 25%;  /* 192 pixels minimum */
    }

    #header .middle {
      width: 50%;  /* 384 pixels minimum */ 
    }

    .playlistName {
      text-align: center;
      color: white;
      font-family: Haettenschweiler, Impact, fantasy;
      height: 50%;
    }

      .playlistName h3 {
        margin-top: 0px;
        margin-bottom: 0px;
      }

    #deskMenu {
      text-align: center;
      margin-top: 0px;
      height: 50%;
    }

    #header .form-search {
      position: absolute;
      bottom: 0;
      margin-bottom: 0.75em;
    }

    #header .form-search .search-query {
      width: 61%;
    }
}



/* Landscape Phone And Portrait Phone */
@media (max-width: 767px) {

  /* header */

    #header .left, #header .right {
      width: 33%;
    }

    #header .middle {
      width: 34%;  
    }

    #header .logo img{
      margin: 3px auto 3px auto !important;
    }

    .visible-phone.phoneMenu {
      padding-top: 0.75em;
      padding-left: 0.75em;
    }  
}



/* Landscape Phone only */
@media (min-width: 481px) and (max-width: 767px) {

  .span-custom {
    width: 50%;
  }

  .span-custom:nth-of-type(2n+1) {
    clear: left;
  }

  /* header */

    /* header columns: 160 pixels minimum */

    .lsPhone {
      display: block;
    }

      .lsPhone.btn {
        display: inline-block !important;
      }

    #header .form-search {
      position: absolute;
      padding-top: 0.75em;
      padding-right: 0.75em;
    }

    #header .form-search .search-query {
      width: 56%;
    }

    .porPhone {
      display: none !important;
    }

  .tab-pane {
    max-width: 560px;
  }
}



/* Portrait Phone only */
@media (max-width: 480px) {

  .span-custom {
    width: 100%;
  }

  .lsPhone {
    display: none !important;
  }

  .porPhone {
    display: block;
  }

  /* header */
    /* header columns: 160 pixels MAXimum */

    .porPhone.porPhoneSearch {
      position: absolute;
      top: 0.75em;
      right: 0.75em;
    }

  /* search */

    #phoneSearchField {
      width: 90%;
    }


  .tab-pane {
    max-width: 280px;
  }


  /* controls */
  #controlbox {
    left: 0 !important;
    right: 0;
    margin-left: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  #controlbox-minimized {
    left: 0 !important;
    margin-left: 0px !important;
  }

    #phoneVol {
      margin-left: 10px;
      display: inline-block !important;
    }
}