/* All Devices */

body {
  margin: 0;
  padding: 0;
}


.span-custom {
  float: left;
  max-width: 280px;
  min-height: 30px;
  text-align: center;
  margin: 10px 0px 0px 0px;


  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
}


#header {
  width: 100%;
  background-color: #fe1237;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  max-height: 84px;
}

  #header > * {
    float: left;
    max-height: 84px;
  }

  #header .logo img{
    /* large logo: 190 x 74 */
    /* small logo:  50 x 50 */
    vertical-align: middle;
    display: block;
    margin: 5px auto 5px auto;
  }


#tracks {
  margin: 0px auto 0px auto;
  padding-top: 84px;
}


  .player {
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px 1px 5px 1px;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  }

  .player:hover, .player.current {
    border-color: #0088CC;
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  }

  .player.current {
    background-color: #e6f7ff;
  }

  .player .player-bottom {
    text-align: left;
    width: 228px;
    margin-left: auto;
    margin-right: auto;
  }

  .player .userID {
    color: green;
    font-weight: bold;
  }

  .remItem {
    color: red;
    font-size: 75%;
    padding: 0px;
  }


#controlbox {
  margin-bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1030;
  background-color: #F0F0F0;
}



/* Large Desktop Only */
@media (min-width: 1241px) {
  
  .span-custom {
    width: 20%
  }

  .span-custom:nth-child(5n+1){
    clear: left;
  }

  #tracks {
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


/* Desktop Only */
@media (min-width: 981px) and (max-width: 1240px) {

  .span-custom {
    width: 25%;
  }

  .span-custom:nth-child(4n+1){
    clear: left;
  }

  #tracks {
    max-width: 1120px;
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* Tablet Only */
@media (min-width: 768px)  and (max-width: 980px) {

  .span-custom {
    width: 33.3333%;
  }

  .span-custom:nth-child(3n+1){
    clear: left;
  }

  #tracks {
    max-width: 840px;
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* Tablet and Desktop Only */
@media (min-width: 768px) {

  /* header */

    #header .left, #header .right {
      width: 25%;  /* 192 pixels minimum */
    }

    #header .middle {
      width: 50%;  /* 384 pixels minimum */ 
    }

    .playlistName {
      text-align: center;
      color: white;
      font-family: Haettenschweiler, Impact, fantasy;
      height: 50%;
    }

      .playlistName h3 {
        margin-top: 0px;
        margin-bottom: 0px;
      }

    .deskMenu {
      text-align: center;
      margin-top: 0px;
      height: 50%;
    }

    #header .form-search {
      position: absolute;
      bottom: 0;
      margin-bottom: 0.75em;
    }

    #header .form-search .search-query {
      width: 61%;
    }
}



/* Landscape Phone And Portrait Phone */
@media (max-width: 767px) {

  /* header */

    #header .left, #header .right {
      width: 33%;
    }

    #header .middle {
      width: 34%;  
    }

    #header .logo img{
      margin: 3px auto 3px auto !important;
    }

    .visible-phone.phoneMenu {
      padding-top: 0.75em;
      padding-left: 0.75em;
    }  
}



/* Landscape Phone only */
@media (min-width: 481px) and (max-width: 767px) {

  .span-custom {
    width: 50%;
  }

  .span-custom:nth-child(2n+1) {
    clear: left;
  }

  /* header */

    /* header columns: 160 pixels minimum */

    .lsPhone {
      display: block;
    }

      .lsPhone.btn {
        display: inline-block !important;
      }

    #header .form-search {
      position: absolute;
      padding-top: 0.75em;
      padding-right: 0.75em;
    }

    #header .form-search .search-query {
      width: 56%;
    }

    .porPhone {
      display: none !important;
    }

  #tracks {
    max-width: 560px;
  }
}



/* Portrait Phone only */
@media (max-width: 480px) {

  .span-custom {
    width: 100%;
  }   

  /* header */

    /* header columns: 160 pixels MAXimum */

    .lsPhone {
      display: none !important;
    }

    .porPhone {
      display: block;
    }

      .porPhone.porPhoneSearch {
        position: absolute;
        top: 0.75em;
        right: 0.75em;
      }

  #tracks {
    max-width: 280px;
  }
}




/*
*{
  margin: 0;
}



.header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  color: LawnGreen;
  background-color: Black;
  margin: 0 auto 0 auto;
  height: 85px;
  text-align: center;
  border-bottom: 6px double green;
}

.wrapper {
  margin: 0px auto 0px;
  padding-top: 106px;
  padding-bottom: 110px;
}


.playerItem {
  padding: 5px;
  margin: 20px;
  z-index: 1;
  border: 2px dotted blue;
}

.playerItem>* {
  display: block;
  margin: 5px auto;
}

.current {
  border: 3px solid blue;
}

fieldset {
  display: inline;
}


#controlFooter {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 10;
  color: LawnGreen;
  background-color: Black;
  border-top: 6px double green;
  padding: 10px;
}

#controlBox {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.urlControl {
  margin-top: 15px;
}

#urlText {
  width: 300px;
}*/

