<template name="createPlaylist">
  <div id="createPlaylist" class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Create Playlist</h3>
    </div>

    <div class="modal-body">
      <p>Enter the <strong>name</strong> of the new playlist:</p>
      <input type="text" maxlength="25" size="25" id="playlistNameField">
      <p><em>25 characters max</em></p>
    </div>

    <div class="modal-footer">
      <button class="btn cancel">Cancel</button>
      <button id="createPlaylistBtn" class="btn btn-primary">Create</button>
    </div>
  </div>  
</template>