<template name="deskMenu">

  <div id="deskMenu" class="btn-toolbar">
      <div class="btn-group" data-toggle="buttons-radio">
        <button data-target="#tracks" data-toggle="tab" type="button" class="grid btn btn-primary active"><i class="icon-th-large icon-white"></i> Grid View</button>
        <button data-target="#list" data-toggle="tab" type="button" class="btn btn-primary"><i class="icon-th-list icon-white"></i> List View</button>
        <button data-target="#options" data-toggle="tab" type="button" class="btn btn-primary"><i class="icon-cog icon-white"></i> Options</button>
      </div>
      <button type="button" class="invite btn btn-success"><strong>Invite</strong></button>
  </div>
  
</template>
