<template name="exitWarning">
  <div id="exitWarning" class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Leaving Playlist</h3>
    </div>
  
    <div class="modal-body">
      <p><strong>Are you sure you want to leave?</strong></p>
      You can return to this playlist later by visiting this URL:
      <input id="playlistURL" value="{{url}}" type="text" size="45">
    </div>
  
    <div class="modal-footer">
      <a class="btn cancel">No</a>
      <a href="/" id="exitPlaylist" class="btn btn-primary">Yes</a>
    </div>
  </div>
</template>
  