<template name="header">
  <div id="header">

    <!-- Left -->
    <div class="left">

      <!-- Tablet and Desktop: Logo -->
      <div class="hidden-phone logo">
        <a class="home" href="/"><img src="/LargeLogo.png" width="190" height="74" alt="logo"></a>
      </div>

      <!-- Phone: Menu -->
      {{#if playlistSet}}
        {{> phoneMenu}}
      {{else}}
        <div style="visibility:hidden">Empty space</div>
      {{/if}}

    </div>


    <!-- Middle -->
    <div class="middle">
      
      <!-- Tablet and Desktop: Playlist Name and Menu-->
      <div class="hidden-phone">
        {{#if playlistSet}}
          <div class="playlistName">
            <h3>{{playlistName}}</h3>
          </div>
        
          {{> deskMenu}}
        {{else}}
          <div style="visibility:hidden">Empty space</div>
        {{/if}}
      </div>

      <!-- Phone: Logo -->
      <div class="visible-phone logo">
        <a class="home" href="/"><img src="/SmallLogo2.png" width="50" height="50" alt="logo"></a>
      </div>
    </div>


    <!-- Right: Search -->
    <div class="right">
      {{#if playlistSet}}
        {{> searchBox}}
      {{/if}}
    </div>

  </div>
</template>