<template name="initialPage">

  {{#constant}}
    <div id="errorMessage"></div>
  {{/constant}}

  <div id="initialPage" class="hero-unit">
    {{#if checkedURL}}
      <h1><span style="color:white">time to </span><span style="color:blue">Party!</span></h1>
      <p><button id="launchCreation" class="btn btn-primary btn-large">Create Playlist</button></p>
      <p style="color:blue"><strong>Make a playlist with friends.<br> Search YouTube and SoundCloud.</strong></p>    
      <p style="font-size: 80%;"><em>To join a playlist, enter its URL in your browser.</em></p>
    {{else}}
      <h3 style="color:white">Loading...</h3>
    {{/if}}
  </div>

</template>