<template name="instructions">
  <div class="instructions hero-unit">
      <h2>Start This Party!</h2>
      <h4>
        <img src="/Search.png" width="14" height="14"> Search for music and videos
      </h4>
      <p>
        <small>You can search YouTube and SoundCloud, without interrupting what's currently playing.</small>
      </p>
      <h4>
        <img src="/User.png" width="14" height="14"><img src="/User.png" width="14" height="14"><img src="/User.png" width="14" height="14"> Make it a party. Invite your friends!
      </h4>
      <p>
        <small>Work together on the playlist. You'll see everything your friends add in real-time, without having to reload the playlist page.</small>
      </p>
      <h4>
        <img src="/Shrink.png" width="14" height="14"> Shrink It.
      </h4>
      <p>
        <small>You can shrink the browser window to fit your needs, without losing any features. <strong>Give it a try!</strong> You can hide the controls, too, for some extra space when you're browsing.</small>
      </p>
      <h4>
        <img src="/Star.png" width="14" height="14"> Expect more soon
      </h4>
      <p>
        <small>There's plenty of features I plan to add in the near future, stay tuned!</small>
      </p>
      <h4>
        <img src="/Comment.png" width="14" height="14"> Give me a shout!
      </h4>
      <p>
        <small>I'm a <strong>currently unemployed</strong> web developer. I made this mainly to showcase my skills... but also because it's a ton of fun to use! <a class="moreInfoLink" href="/">Click here</a> for more info on how the website was made, and how to contact me.</small>
      </p>
  </div>
</template>