<template name="moreInfo">
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3 style="color:blue; text-align:center">More Info</h3>
    </div>

    <div class="modal-body">
      {{> toolslist}}
      <p>I'm <strong>currently unemployed</strong>, and would love to hear from you! E-mail me at <strong><a href="mailto:developer@playlistparty.net">developer@playlistparty.net</a></strong></p>
    </div>

    <div class="modal-footer">
      <button class="cancel btn btn-primary">Done</button>
    </div>
  </div> 
</template>