<template name="moreInfo">
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3 style="color:blue; text-align:center">More Info</h3>
    </div>

    <div class="modal-body">
      This website was made with the following tools:
      <ul>
        <li>The <a href="http://meteor.com/">Meteor</a> JavaScript platform</li>
        <li>The <a href="http://handlebarsjs.com/">Handlebars</a> templating engine</li>
        <li>A <a href="http://www.mongodb.org/">MongoDB</a> database</li>
        <li>The <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> front-end framework</li>
        <li>The <a href="https://developers.google.com/youtube/">YouTube API</a> </li>
        <li>The <a href="http://developers.soundcloud.com/">SoundCloud API</a> </li>
        <li>The <a href="http://jquery.com/">jQuery</a> library</li>
        <li>The <a href="https://github.com/balupton/jquery-history">jQuery History</a> plug-in</li>
        <li>The <a href="http://jqueryui.com/">jQuery UI</a> slider widget</li>
        <li>The <a href="http://www.addthis.com/">AddThis</a> sharing buttons</li>
        <li>A <a href="http://www.debian.org/">Debian</a> VM running on <a href="https://www.virtualbox.org/">VirtualBox</a> as the production environment</li>
        <li>The <a href="http://www.sublimetext.com/2">Sublime Text 2</a> code editor</li>
        <li>The Firefox extension <a href="http://getfirebug.com/">Firebug</a> for debugging</li>
        <li><a href="http://www.gimp.org/">GIMP</a> for some graphic design</li>
        <li><a href="http://git-scm.com/">Git</a> for version control, with <a href="https://github.com/">GitHub</a> as the repository host</li>
      </ul>
      <p>I'm <strong>currently unemployed</strong>, and would love to hear from you! E-mail me at <strong><a href="mailto:e.cardenasmendez@gmail.com">e.cardenasmendez@gmail.com</a></strong></p>
    </div>

    <div class="modal-footer">
      <button class="cancel btn btn-primary">Done</button>
    </div>
  </div> 
</template>