<template name="newPlaylistAlert">
  <div id="newPlaylistAlert" class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Anonymous Activity</h3>
    </div>
  
    <div class="modal-body">
      {{#if currentUser}}
        {{{ownerNotice}}}
        Do you want to allow <strong>anonymous users</strong> to add music/videos to your playlist? <br> <small>(You can change this setting afterwards, in the options tab)</small>
      {{else}}
        Because you are <strong>not logged in</strong>, this playlist is currently <strong>anonymous</strong>: other anonymous users can add music and videos to this playlist.
      {{/if}}
    </div>
  
    <div class="modal-footer">
      {{#if currentUser}}
        <button class="btn blockAnonymous">No</button>
        <button class="btn btn-primary cancel">Yes</button>
      {{else}}
        <button class="btn cancel">OK</button>
      {{/if}}
    </div>
  </div>
</template>