<template name="options">
  <div id="options">
    <h2>Options</h2>
    <h3>Info</h3>
    <div class="subsection">
        <h4><a class="question" href="/">What can I do on this website?</a></h4>
        <div class="answer">
          <h4>
            <img src="/Search.png" width="14" height="14"> Search for music and videos
          </h4>
          <p>
            You can search YouTube and SoundCloud, without interrupting what's currently playing.
          </p>
          <h4>
            <img src="/User.png" width="14" height="14"><img src="/User.png" width="14" height="14"><img src="/User.png" width="14" height="14"> Make it a party. Invite your friends!
          </h4>
          <p>
            Work together on the playlist. You'll see everything your friends add in real-time, without having to reload the playlist page.
          </p>
          <h4>
            <img src="/Pencil.png" width="14" height="14"> Sign In, Get More!
          </h4>
          <p>
            <small>With a user account, anything you add to the playlist can only be removed by you. On top of that, you get more options and PlaylistParty will keep track of the last 20 playlists that you've participated in. If another user adds something to the playlist that you really like, you can click the <strong>Nice!</strong> button to increase the <em>Thumbs Up</em> count of that item.</small>
          </p>
          <h4>
            <img src="/Shrink.png" width="14" height="14"> Shrink It.
          </h4>
          <p>
            You can shrink the browser window to fit your needs, without losing any features. <strong>Give it a try!</strong> You can hide the controls, too, for some extra space when you're browsing.
          </p>
          <h4>
            <img src="/Star.png" width="14" height="14"> Expect more soon
          </h4>
          <p>
            There's plenty of features I plan to add in the near future, stay tuned!
          </p>
      </div>
      <h4><a class="question" href="/">How was this website built?</a></h4>
      <div class="answer">
        {{> toolslist}}
      </div>
      <h4><a class="question" href="/">Give me a shout!</a></h4>
      <div class="answer">
        I'm a <strong>currently unemployed</strong> web developer. I made this mainly to showcase my skills... but also because it's a ton of fun to use! And I would love to hear from you! E-mail me at <strong><a href="mailto:developer@playlistparty.net">develooper@playlistparty.net</a></strong>.
      </div>
    </div>
    <h3>Playlist Info</h3>
    <div class="subsection">
      <p><small><em>Note: Only the playlist owner(s) can change these settings.</em></small></p>
      <p>
        Anonymous users are allowed to add music/videos: 
        <strong>{{anonStatus}} </strong>
        {{#if isOwner}}
          <button id="changeAnonStatus" class="btn btn-link">(change)</button>
        {{/if}}
      </p>
    </div>
    {{#if currentUser}}
      <h3>User Info</h3>
      <div class="subsection">
        <p><button class="btn btn-info viewMyPlaylists">View My Playlists</button></p>
        <p>
          <form id="editingName" class="form-inline">
            <input id="changeUsernameText" type="text" maxlength="25" size="25">
            <button id="changeUsernameCancel" class="btn">Cancel</button>
            <button id="changeUsernameUpdate" class="btn btn-primary">Update</button>
            <br><small><span id="changeUsernameError" style="color:red"></span></small>
          </form>
          <button id="changeUsernameBtn" class="btn btn-info">Change Username</button>
        </p>
        <p>
          <strong>To change password:</strong><br>
          You can only change your password on this website if the account was created on this website (i.e. you are not using a Facebook or Twitter account). If so, click on your username in the top-right corner. The menu should show an option to "Change password".
        </p>
      </div>
      <h3>Deletion</h3>
      <div class="subsection">
          <p><button id="removeAllMine" class="btn btn-danger">Remove All My Items</button></p>
          <p><button id="removeAllAnon" class="btn btn-danger">Remove All Anonymous Items</button></p>
      </div>
    {{/if}}
  </div>
</template>