<template name="page">
  {{#isolate}}
    {{! Modal windows}}

    {{#if showCreatePlaylist}}
      {{> createPlaylist}}
    {{/if}}

    {{#if showPhoneSearch}}
      {{> phoneSearchBox}}
    {{/if}}

    {{#if playlistSet}}
      {{> inviteWindow}}
    {{/if}}

    {{#if showMoreInfo}}
      {{> moreInfo}}
    {{/if}}

    {{#if showExitWarning}}
      {{> exitWarning}}
    {{/if}}

    {{#if showRemoveAllWarning}}
      {{> removeAllWarning}}
    {{/if}}

    {{#if showNewPlaylistAlert}}
      {{> newPlaylistAlert}}
    {{/if}}

    {{#if showNotAllowedByAnon}}
      {{> notAllowedByAnon}}
    {{/if}}

    {{#if showUserPlaylists}}
      {{> userPlaylists}}
    {{/if}}
  {{/isolate}}

  {{> header}}
  <div id="loginBar">
    <!-- Phone: Playlist Name -->
    {{#if playlistSet}}
      <p class="visible-phone" style="float: left; margin-left: 35px;"><strong>{{playlistName}}</strong></p>
    {{/if}}
    <p style="text-align: right;">{{loginButtons align="right"}}</p>
  </div>
  {{> tabs}}
  {{#if playlistSet}}
    {{> controls}}
  {{/if}}
</template>