<template name="page">
  {{#isolate}}
    {{! Modal windows}}

    {{#if showCreatePlaylist}}
      {{> createPlaylist}}
    {{/if}}

    {{#if showPhoneSearch}}
      {{> phoneSearchBox}}
    {{/if}}

    {{#if playlistSet}}
      {{> inviteWindow}}
    {{/if}}

    {{#if showMoreInfo}}
      {{> moreInfo}}
    {{/if}}

    {{#if showExitWarning}}
      {{> exitWarning}}
    {{/if}}

    {{#if showRemoveAllWarning}}
      {{> removeAllWarning}}
    {{/if}}
  {{/isolate}}

  {{> header}}
  {{> tabs}}
  {{> controls}}
</template>