<template name="player">

  <div class="span-custom">
    <div class ="player {{isCurrentFrame}}">
      <span class="badge badge-inverse">{{trackNo}}</span><br>
      {{{description}}}
      {{#constant}}
      <div id="{{id}}"></div>
      {{/constant}}
      <div class="player-bottom">
        added by {{{username}}}<br>
        {{#if myItem_Or_AnonymousItem}}
          <button type="button" class="remItem btn btn-link" style="float: left">remove</button>
        {{else}}
          {{#if currentUser}}
            {{#if unliked}}
              <button type="button" class="toggleLike btn btn-mini btn-success" style="float: left"><i class="icon-thumbs-up icon-white"></i> Nice!</button>
            {{else}}
              <button type="button" class="toggleLike btn btn-mini btn-warning" style="float: left"><i class="icon-thumbs-down icon-white"></i> never mind</button>
            {{/if}}
          {{/if}}
        {{/if}}
        <p class="text-right">{{likesCount}} <i class="icon-thumbs-up"></i></p>        
      </div>
    </div>
  </div>
  
</template>