<template name="searchBox">
  
  <!-- Tablet, Desktop and Landscape Phone: -->
  <form class="lsPhone form-search">
    <div class="input-append">
      <input id="normSearchField" type="text" class="search-query" placeholder="Search music/videos...">
      <button id="normSearchBtn" data-target="#search" type="button" class="btn btn-primary"><i class="icon-search icon-white"></i></button>
    </div>
  </form>
    
  <!-- portrait phone: -->
  <div class="visible-phone porPhone porPhoneSearch">
    <button id="phoneSearchBtn" type="button" class="btn btn-primary"><i class="icon-search icon-white"></i></button>
  </div>

</template>