<template name="tabs">

  <div class="tab-content">
    <div id ="tracks" class="tab-pane active">
      {{#isolate}}
      {{#if playlistSet}}
        {{> tracks}}
      {{else}}
        {{> initialPage}}
      {{/if}}
      {{/isolate}}
    </div>
    <div id="list" class="tab-pane">
      <strong>List: coming soon...</strong>
    </div>
    <div id="settings" class="tab-pane">
      <strong>Settings: coming soon...</strong>
    </div>
    <div id="search" class="tab-pane">
      {{> search}}
    </div>
    

</template>