<template name="tabs">

  <div class="tab-content">
    <div id ="tracks" class="tab-pane {{isActive "#tracks"}}">
      <div class="tab-pane-content">
        {{#isolate}}
        {{#if playlistSet}}
          {{> tracks}}
        {{else}}
          {{> initialPage}}
        {{/if}}
        {{/isolate}}
      </div>
    </div>
    <div id="list" class="tab-pane {{isActive "#list"}}">
      <div class="tab-pane-content">
        <strong>List: coming soon...</strong>
      </div>
    </div>
    <div id="options" class="tab-pane {{isActive "#options"}}">
      <div class="tab-pane-content">
        {{> options}}
      </div>
    </div>
    <div id="search" class="tab-pane {{isActive "#search"}}">
      <div class="tab-pane-content">
        {{> search}}
      </div>
    </div>
    

</template>