<template name="userPlaylists">
  <div id="userPlaylists" class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>My Playlists</h3>
    </div>
  
    <div class="modal-body">
      <p><em>These are the 20 latest playlists that you have participated in.</em></p>

      <div style="max-height: 15em">
        {{#each list}}
          <p><a href="/{{url}}">
            <strong>{{name}}</strong><br>
            <small>http://{{host}}/{{url}}</small>
          </a></p>
        {{/each}}
      </div>
    </div>
  
    <div class="modal-footer">
      <button class="btn cancel">OK</button>
    </div>
  </div>
  
</template>